.vistaChatbot {
    /* Neutraliza el padding del layout */
    margin: 0 -24px; /* ajusta este valor al padding de tu layout */
    min-height: calc(100vh - 64px);
    display: flex;
    flex-direction: column;
  }
  
  /* El ChatCore en modo expandido ocupa todo */
  .chatCore--expandido {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - var(--navbar-h));
    border-radius: 0;
    border: none;
  }
  .chatCore--expandido .robotHeader h3{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-left: 2rem;
  }
  
  /* Mensajes ocupan todo el espacio disponible */
  .chatCore--expandido .robotMensajes {
    flex: 1;
    max-height: none; /* quita el límite de 320px del flotante */
    padding: 1.5rem 2rem;

  }

  .chatCore--expandido .hola{
    font-family: 'Cormorant Garamond', serif;
    font-size: larger;
  }

  .chatCore--expandido .robotSaludo{
    text-align: center;
    color: azure;
    font-size: larger;
    margin-bottom: 2rem;
  }
  .chatCore--expandido .robotBienvenida {
    margin: 0 10rem ;
  }
  
  /* Input más grande en modo expandido */
  .chatCore--expandido .robotInput {
    padding: 1rem 2rem;
  }
  
  .chatCore--expandido .robotInput textarea {
    font-size: 1rem;
  }